td.time::after {
  content: "h";
}
td.total-total-price.time::after {
  content: none;
}
.popover {
  max-width: unset !important;
}
.popup-history {
  min-width: 37em;
  max-height: 100vh;
}
.popup-history .btn-close {
  top: 0.5em;
  right: 0.5em;
}

table th[data-date] {
  color: slategray;
}

.body-popove-worktime-block .position-sticky {
  z-index: 10;
}

table td[data-date],
table th[data-date] {
  width: 44px;
  padding: 0.2rem;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  -webkit-touch-callout: none; /* iOS Safari */
}

.box-confirm.confirm-delete {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: visibility 0.2s ease-in;
  background-color: #f4d9dc;
}

.confirm-active {
  visibility: visible !important;
}

.wc-10 {
  width: 10%;
}

.wc-15 {
  width: 15%;
}

.wc-20 {
  width: 20%;
}

.wc-25 {
  width: 25%;
}

.wc-30 {
  width: 30%;
}

.wc-40 {
  width: 40%;
}

.wc-50 {
  width: 50%;
}

.wc-60 {
  width: 60%;
}

.wc-70 {
  width: 70%;
}

.wc-75 {
  width: 75%;
}

.wc-80 {
  width: 80%;
}

.wc-90 {
  width: 90%;
}

.wc-100 {
  width: 100%;
}

.hc-100 {
  width: 100%;
}

.initial {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: #fff;
  border-radius: 100%;
  background-color: #0a6eb4;
  font-weight: 500;
}

.table-head .table-row {
  border-bottom: 1px solid #e1e1e1;
}

.table-body .table-row {
  border-bottom: 1px solid #e1e1e1;
}

.table-cell {
  display: inline-block;
}

.popover-body {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.content-popover-worktime-block {
  overflow: auto;
  max-height: 70vh;
}

.content-popup-worktime-history {
  overflow: auto;
  max-height: 60vh;
}

/* table worktime */

.wt-w-cell {
  width: 3.5rem !important;
  padding: 0.25rem !important;
  text-align: center;
}

.wt-cell-pick {
  cursor: pointer;
}

.wt-cell-pick:hover {
  background-color: rgba(151, 178, 184, 0.4) !important;
}

/* css background cell */
.wt-weekend {
  background-color: #e2e3e5e3 !important;
}

.wt-holiday {
  background-color: #f2c9cdd4 !important;
}

.wt-leave {
  background-color: #f9e4b0d4 !important;
}

.wt-vacation {
  background-color: #b7ebc3cc !important;
}

.wt-half-day {
  background-color: #b3a8ffd4 !important;
}

.wt-tardiness-leave-early {
  background-color: #e99be5bf !important;
}

.wt-icon-info {
  display: inline-flex;
  float: right;
  cursor: pointer;
}

.wt-icon-info:hover {
  opacity: 0.6;
}

.wt-table thead {
  position: sticky;
  top: 0;
}

.wt-table thead th,
.wt-table thead td {
  border-bottom: 2px solid #a5a5a585;
}

.wt-table tfoot {
  border-top: 2px solid #a5a5a585;
}

.wt-list-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wt-list-info > li {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.wt-symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid rgb(208, 208, 208);
}

.wt-wrapper-logo {
  display: inline-block;
  width: 10rem;
  height: 10rem;
}

.wt-wrapper-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wt-shadow-confirm {
  box-shadow: inset 0 0 5px 3px rgb(109, 227, 85);
}
