{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * - range_report: Range report.
 * - name_employee: Name of employee.
 * - fixed_salary: Fixed salary of employee.
 * - performance_salary: Performance salary of employee.
 * - total_hour_payroll: A list detail type hours.
 * - total_hour: Total hours of filter.
 * - total_work: Total dáy working of filter.
 * - total_holiday: Total holiday of filter.
 * - wage_total: Wage total of user of filter.
 * - rate: Hourly wage
 * - table: A array detail hours in range.
 * - site_logo: logo site.
 * - site_name: name site.
 *
 * @see template_preprocess_views_style_work_time_worktime_salary()
 */
#}
<div class="container" id="print">
  <div class="row">
    <div class="col mt-4">
      <div class="wt-wrapper-logo">
        <img src="{{ site_logo }}" alt="{{ site_name }}" />
      </div>
    </div>
    <div class="col mt-4">
      <div>
        <h2 class="text-center">{{ 'Summary Payroll Report'|t }}</h2>
        <p class="text-center">{{ 'Reporting range'|t }}: {{ range_report }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="pt-4"></p>
    <div class="col">
      <table class="table">
        <thead class="table-light">
        <tr>
          <th>{{ 'Name of employee'|t }}</th>
          <th>{{ name_employee }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="displayCurrencyFixedSalary">
          <td>{{ 'Fixed salary'|t }}</td>
          <td>{{ fixed_salary }}</td>
        </tr>
        <tr v-if="displayCurrencyPerformanceSalary">
          <td>{{ 'Performance salary'|t }}</td>
          <td>{{ performance_salary }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table">
        <thead class="table-light">
        <tr>
          <th>{{ 'Working days'|t }}</th>
          <th>{{ total_work }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> {{ 'Holidays'|t }}</td>
          <td>{{ total_holiday }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="table-light">
        <tr>
          <th>
            {{ 'Total hours'|t }}
          </th>
          <th>
            {{ total_hour }}
          </th>
        </tr>
        </thead>
        <tbody>
        {% for item in total_hour_payroll %}
          <tr>
            <td>
              {{ item.label }}
            </td>
            <td>
              {{ item.value }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table">
        <thead class="table-light">
        <tr>
          <th>{{ 'Pay type'|t }}</th>
          <th>{{ 'Hourly'|t }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{ 'Rate'|t }}
          </td>
          <td>
            <span>{{ rate }}</span>
          </td>
        </tr>
        <tr>
          <td>
            {{ 'Total wage'|t }}
          </td>
          <td>
            <span>{{ wage_total }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered border-primary">
        <thead>
        <tr>
          <th class="text-center">{{ 'Date'|t }}</th>
          <th class="text-center">{{ 'Mon'|t }}</th>
          <th class="text-center">{{ 'Tue'|t }}</th>
          <th class="text-center">{{ 'Wed'|t }}</th>
          <th class="text-center">{{ 'Thu'|t }}</th>
          <th class="text-center">{{ 'Fir'|t }}</th>
          <th class="text-center">{{ 'Sat'|t }}</th>
          <th class="text-center">{{ 'Sun'|t }}</th>
          <th class="text-center">{{ 'Total overtime hours'|t }}</th>
          <th class="text-center">{{ 'Total regular hours'|t }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in table %}
        <tr>
          <td class="text-center">{{ row.range_date }}</td>
          {% for cell in row.cells %}
            <td class="text-center">{{ cell }}</td>
          {% endfor %}
          <td class="text-center">{{ row.total_over }}</td>
          <td class="text-center">{{ row.total_normal }}</td>
        <tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
