<script type="application/javascript">
  if (typeof templateWorkTimeSheet === 'undefined') {
    var templateWorkTimeSheet = `
      <div>
        <TimePickerComponent @pickChanged="updatePick"/>
        <TableComponent :uid="uid" :settings="settings" :typePick="typePick" :hourPick="hourPick" :hourMaxNormal="hourMaxNormal" :hourMaxOver="hourMaxOver" :hourMaxOverSpecial="hourMaxOverSpecial"/>
      </div>
    `;
  }

  if (typeof templateWorkTimeSheetCommit === 'undefined') {
    var templateWorkTimeSheetCommit = `
      <div class="mt-2">
        <button class="btn btn-success" @click="commitData">{{'Commit'|t}}</button>
      </div>
    `;
  }

  if (typeof templateWorkTimeSheetCell === 'undefined') {
    var templateWorkTimeSheetCell = `
      <td class="position-relative text-center wt-w-cell wt-cell-pick" :class="cellClass(dataCell)" :class="dataCell.style" @click.self="pointHandle" :data-wid-normal="dataCell.wid_normal" :data-wid-over="dataCell.wid_over" :data-uid="dataCell.uid" :data-reference-id="dataCell.reference_id" :data-date="dataCell.date" :data-is-commit="dataCell.is_commit" :data-worktime="hourRound(dataCell.worktime)" :data-sheet-normal="hourRound(dataCell.sheet_normal)" :data-sheet-over="hourRound(dataCell.sheet_over)">{% verbatim %}{{ displayCell(dataCell) }}{% endverbatim %}
      <InfoCellComponent :date="dataCell.date" :reference_id="dataCell.reference_id"/>
      </td>
    `;
  }

  if (typeof templateWorkTimeSheetPicker === 'undefined') {
    var templateWorkTimeSheetPicker = `
      <div>
        <div class="btn-group">
          <div class="input-group-text" id="btnGroupAddon">{{ 'Normal time'|t }}</div>
          <template v-for="n in hourMaxNormal">
          <input type="radio" class="btn-check" name="radio-hour-pick" :id="'radio-normal-' + n" :value="n" data-hour-type="normal" @click="getHourPick">
            <label class="btn btn btn-outline-success" :for="'radio-normal-' + n">{% verbatim %}{{ n }}{% endverbatim %}</label>
          </template>
        </div>
        <div class="btn-group">
          <div class="input-group-text" id="btnGroupAddon">{{ 'Over time'|t }}</div>
          <template v-for="n in hourMaxOverSpecial">
          <input type="radio" class="btn-check" name="radio-hour-pick" :id="'radio-over-' + n" :value="n" data-hour-type="over" @click="getHourPick" >
            <label class="btn btn btn-outline-danger" :for="'radio-over-' + n">{% verbatim %}{{ n }}{% endverbatim %}</label>
          </template>
        </div>
        <div class="btn-group">
          <div class="input-group-text" id="btnGroupAddon">{{ 'Remove'|t }}</div>
          <input type="radio" class="btn-check" name="radio-hour-pick" id="radio-eraser" data-hour-type="eraser" :value="0" @click="getHourPick($event)">
          <label class="btn btn btn-outline-danger" for="radio-eraser"><i class="bi bi-eraser-fill"></i></label>
        </div>
        <InfoSheetComponent/>
      </div>
    `;
  }

  if (typeof templateWorkTimeSheetTable === 'undefined') {
    var templateWorkTimeSheetTable = `
      <div>
        <CommitComponent :data="data" :csrfToken="csrfToken"/>
        <table class="table table-bordered table-hover table-responsive wt-table">
          <thead>
            <tr>
              <template v-for="(dataHeader, indexHeader) in dataHeader">
              <th v-if="dataHeader.sign == null" class="text-center">{% verbatim %}{{ dataHeader.data }}{% endverbatim %}</th>
              <th v-else :data-date="dataHeader.sign" class="text-center wt-w-cell" :class="dataHeader.style">{% verbatim %}{{ dataHeader.data }}{% endverbatim %}</th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-for="(dataRow, indexRow) in data">
            <tr :data-reference-id="dataRow.id">
              <th>{% verbatim %}{{ dataRow.label }}{% endverbatim %}</th>
              <th class="text-center align-middle" v-if="dataRow.price">{% verbatim %}{{ dataRow.price }}{% endverbatim %}</th>
              <template v-for="(dataCell, index_cell) in dataRow.cells">
               <CellComponent :dataCell="dataCell" :typePick="typePick" :hourPick="hourPick" @cellClicked="handleCellClick" />
              </template>
              <td class="text-center align-middle">{% verbatim %}{{ totalRow[dataRow.id].hours }}{% endverbatim %}</td>
              <td class="text-center align-middle" v-if="totalRow[dataRow.id].price">{% verbatim %}{{ totalRow[dataRow.id].price }}{% endverbatim %}</td>
            </tr>
            </template>
          </tbody>
          <tfoot>
            <tr>
              <template v-for="(dataFooter, index_footer) in dataFooter">
              <th v-if="dataFooter.sign == null" class="text-center">{% verbatim %}{{ dataFooter.data }}{% endverbatim %}</th>
              <td v-else :data-date="dataFooter.sign" class="text-center wt-w-cell" :class="dataFooter.style">{% verbatim %}{{ dataFooter.data }}{% endverbatim %}</td>
              </template>
            </tr>
          </tfoot>
        </table>
      </div>
    `;
  }

  if (typeof templateInfoCell === 'undefined') {
    var templateInfoCell = `
      <template v-if="dataInfo.length || normal || over">
        <i @click.self="showInfo" class="wt-icon-info position-absolute d-flex top-0 end-0 bi bi-info-circle-fill"></i>
        <div class="d-none">
          <div class="content-popup-worktime-history" ref="popoverInfo">
            <div>
              <p v-if="normal" class="mb-0 text-success">{{'Normal hour'|t}}: {% verbatim %}{{ normal }}{% endverbatim %}</p>
              <p v-if="over" class="mb-0 text-danger">{{'Over hour'|t}}: {% verbatim %}{{ over }}{% endverbatim %}</p>
            </div>
            <table v-if="dataInfo.length" class="table mb-0 wt-table">
              <thead>
                <tr>
                  <th>{{'Total'|t}}</th>
                  <th><b>{% verbatim %}{{ displayTimeTotal(total_worktime) }}{% endverbatim %}</b></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(task, indexTask) in dataInfo" class="position-relative">
                  <td>{% verbatim %}{{ task.label }}{% endverbatim %}</td>
                  <td>{% verbatim %}{{ displayTimeTotal(task.time_total) }}{% endverbatim %}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </template>
    `;
  }

  if (typeof templateInfo === 'undefined') {
    var templateInfo = `
      <i @click.self="showInfo" class="wt-icon-info fs-4 bi bi-info-circle-fill"></i>
      <div class="d-none">
        <ul class="content-popup-worktime-history wt-list-info" ref="popoverInfo">
          <li><i>{{'Note the symbols'|t}}:</i></li>
          <li><span class="wt-symbol wt-holiday"></span> {{'Holidays'|t}}</li>
          <li><span class="wt-symbol wt-weekend"></span> {{'Last day off every week'|t}}</li>
          <li><span class="wt-symbol wt-vacation"></span> {{'Paid days off'|t}}</li>
          <li><span class="wt-symbol wt-leave"></span> {{'Unpaid day off'|t}}</li>
          <li><span class="wt-symbol wt-half-day"></span> {{'Take a half day off'|t}}</li>
          <li><span class="wt-symbol wt-tardiness-leave-early"></span> {{'Tardiness leave early'|t}}</li>
          <li><span class="wt-symbol text-success">8</span> {{'Office hours'|t}}</li>
          <li><span class="wt-symbol text-danger">2</span> {{'Hours of overtime'|t}}</li>
          <li><span class="wt-symbol text-warning">10</span> {{'Office hours and overtime hours'|t}}</li>
          <li><span class="wt-symbol position-relative"><i class="wt-icon-info position-absolute d-flex top-0 end-0 bi bi-info-circle-fill"></i></span> {{'Hour information from worktime'|t}}</li>
        </ul>
        </div>
      </div>
    `;
  }
</script>

<div id="work-time-sheet">

</div>
