<script type="application/javascript">
  if (typeof templateWorkTimeTable === 'undefined') {
    var templateWorkTimeTable = `
      <div>
        <MultipleTableComponent :settings="settings" :leaveDays="leaveDays" />
      </div>
    `;
  }

  if (typeof templateMultipleTable === 'undefined') {
    var templateMultipleTable = `
      <template v-for="(dataTable, keyTable) in data">
        <tableComponent :settings="settings" :leaveDays="leaveDays" :rawData="dataTable" :listRowGroup="listRowGroup[keyTable]" :tableInfo="listTableInfo[keyTable]" />
      </template>
    `;
  }

  if (typeof templateBootstrapTable === 'undefined') {
    var templateBootstrapTable = `
      <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
          <input
            type="search"
            class="form-control mb-3"
            v-model="searchQuery"
            placeholder="Serch..."
          />
        </div>
        <button class="btn btn-success mb-3" @click="downloadCSV"><i class="bi bi-download"></i></button>
      </div>
      <table class="table table-bordered table-hover table-responsive caption-top wt-table">
        <caption v-if="caption">{% verbatim %}{{ caption }}{% endverbatim %}</caption>
        <thead>
          <th class="text-center align-middle">{% verbatim %}{{ dataHeader.label_index }}{% endverbatim %}</th>
          <th class="text-center align-middle" v-if="dataHeader.field_price">{% verbatim %}{{ dataHeader.field_price }}{% endverbatim %}</th>
            <template v-for="cell_header in dataHeader.cells">
            <Cell :settings="settings" :leaveDays="leaveDays" :dataCell="cell_header"></Cell>
            </template>
          <th class="text-center align-middle">{% verbatim %}{{ dataHeader.total_over }}{% endverbatim %}</th>
          <th class="text-center align-middle">{% verbatim %}{{ dataHeader.total_normal }}{% endverbatim %}</th>
          <th class="text-center align-middle" v-if="dataHeader.total_price">{% verbatim %}{{ dataHeader.total_price }}{% endverbatim %}</th>
        </thead>
        <tbody>
          <template v-for="(dataRow, indexRow) in dataTable.filter(row => filterRow(row))">
          <tr :data-group-sign="dataRow.id">
            <th class="text-center align-middle"><a :href="dataRow.link_detail">{% verbatim %}{{ dataRow.label }}{% endverbatim %}</a></th>
            <th v-if="dataRow.price" class="text-center align-middle">{% verbatim %}{{ dataRow.price }}{% endverbatim %}</th>
            <template v-for="(dataCell, index_cell) in dataRow.cells">
             <Cell :settings="settings" :leaveDays="leaveDays" :dataCell="dataCell"></Cell>
             </td>
            </template>
            <th class="text-center align-middle">{% verbatim %}{{ dataRow.total_over }}{% endverbatim %}</th>
            <th class="text-center align-middle">{% verbatim %}{{ dataRow.total_normal }}{% endverbatim %}</th>
            <th v-if="dataRow.total_price" class="text-center align-middle">{% verbatim %}{{ dataRow.total_price }}{% endverbatim %}</th>
          </tr>
          </template>
        </tbody>
        <tfoot>
          <tr>
            <th class="text-center align-middle">{% verbatim %}{{ dataFooter.label_index }}{% endverbatim %}</th>
            <th class="text-center align-middle" v-if="dataHeader.field_price">{% verbatim %}{{ dataFooter.field_price }}{% endverbatim %}</th>
              <template v-for="cellFooter in dataFooter.cells">
              <Cell :settings="settings" :leaveDays="leaveDays" :dataCell="cellFooter"></Cell>
              </template>
            <th class="text-center align-middle">{% verbatim %}{{ dataFooter.total_over }}{% endverbatim %}</th>
            <th class="text-center align-middle">{% verbatim %}{{ dataFooter.total_normal }}{% endverbatim %}</th>
            <th class="text-center align-middle" v-if="dataHeader.total_price">{% verbatim %}{{ dataFooter.total_price }}{% endverbatim %}</th>
          </tr>
        </tfoot>
      </table>
    `;
  }

  if (typeof templateCell === 'undefined') {
    var templateCell = `
      <td ref="cell" class="text-center align-middle" :class="cellClass" @click="showConfirm">{% verbatim %}{{ displayCell(dataCell) }}{% endverbatim %}</td>
      <div v-if="isConfirm" class="d-none">
        <div ref="popoverConfirm">
          <p>{{ 'Over time (hour)'|t }}: {% verbatim %}{{ hourRound(dataCell.over) }}{% endverbatim %}</p>
          <button @click="confirmHandle" class="btn btn-success me-2">{{ 'Accept'|t }}</button>
          <button @click="showConfirm" class="btn btn-danger">{{ 'Close'|t }}</button>
        </div>
      </div>
    `;
  }
</script>

<div id="work-time-table">

</div>
