<script type="application/javascript">
  if (typeof templateDistance === 'undefined') {
    var templateDistance = `
      <div> {{ 'Accuracy: '|t }} <span v-html="accuracy"></span></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ 'Checkin status'|t }}</th>
            <th>{{ 'Project'|t }}</th>
            <th>{{ 'Distance'|t }}</th>
            <th>{{ 'Action'|t }}</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in data">
          <tr>
            <td>
              <p v-if="item.checkin" class="mb-0 "><i class="bi bi-check-circle-fill text-success"></i> {% verbatim %}{{ item.checkin }}{% endverbatim %}</p>
              <p v-if="item.checkout" class="mb-0"><i class="bi bi-check-circle-fill text-danger"></i> {% verbatim %}{{ item.checkout }}{% endverbatim %}</p>
            </td>
            <th scope="row" v-html="item.label"></th>
            <td>{% verbatim %}{{ formatNumber(item.distance) }} {{ item.unit }}{% endverbatim %}</td>
            <td>
            <button v-if="item.checkin && !item.checkout" @click="checkinHandle(item.id, $event)" class="btn btn-danger">Checkout</button>
            <button v-else @click="checkinHandle(item.id, $event)" class="btn btn-success">Checkin</button>
            </td>
          </tr>
          <template>
        </tbody>
      </table>
    `;
  }
</script>

<div id="work-time-distance">

</div>
