<div class="btn-work-time-block" id="work-time-block">
  <button
    type="button"
    class="btn btn-sm"
    data-entity-id="{{ entity_id }}"
    data-entity-type="{{ entity_type }}"
    data-entity-field="{{ entity_field }}"
    data-entity-bundle="{{ entity_bundle }}"
    data-reference-id="{{ reference_id }}"
    data-reference-type="{{ reference_type }}"
    data-reference-field="{{ reference_field }}"
    data-label="{{ label|striptags }}"
    data-limit="{{ limit }}"
    @click="togglePlay"
    ref="btnTimeBlock"
    :class="{ 'btn-danger': isPlaying, 'btn-success': !isPlaying }">
    <i :class="{'bi bi-stop-circle': isPlaying, 'bi bi-stopwatch': !isPlaying }"></i>
  </button>
  <span>
    <time :class="{ 'wt-time-play': isPlaying }" data-time="{{ time }}" data-limit="{{ limit }}">
      {% verbatim %}{{ timeUpBlock }}{% endverbatim %}
    </time>
    <history :uid="uid" :mode_filter="modeFilter" :entity="entity" entity_type="{{ entity_type }}" entity_field="{{ entity_field }}" ></history>
  </span>
</div>
