{#
/**
 * @file
 * Default theme implementation to present a work time entity.
 *
 * This template is used when viewing a canonical work time page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_work_time()
 */
#}
<script>
  if (typeof templateHistory === 'undefined') {
    var templateHistory = `
      <button type="button" class="btn btn-secondary btn-sm" :class="{'bi bi-clock-history': !bsPopover, 'bi-x-circle': bsPopover }" @click="showPopupHistory($event)" data-bs-toggle="popover" data-bs-trigger="focus" ref="btnToggle"></button>
      <div class="popup-history content-popup-worktime-history mt-2" v-if="showHistory" ref="history">
        <button class="btn-close position-absolute" type="button" aria-label="Close" @click="close" ref="btnClose"></button>
        <table class="table mt-2 mb-0 wt-table" v-for="(data, indexData) in historyData">
          <thead>
          <tr>
            <th><div class="rounded-circle text-bg-primary py-1 text-align-center" style="width: 2em; height: 2em">{{ data.initial }}</div></th>
            <th><b>{% verbatim %}{{ data.name }}{% endverbatim %}</b></th>
            <th><b>{% verbatim %}{{ displayTimeTotal(data.total_time) }}{% endverbatim %}</b></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(task, indexTask) in data.details" :key="task.id" class="position-relative">
            <td class="wc-20">{% verbatim %}{{ displayTimeTotal(task.time_total) }}{% endverbatim %}</td>
            <td>{% verbatim %}{{ displayDate(task.created) }}{% endverbatim %}</td>
            <td class="wc-25">
              <edit @editTask="editTask" :task="task" :index_data="indexData" :index_task="indexTask" v-if="this.uid == task.uid" />
              <delete @removeTask="removeTask" :task="task" :index_data="indexData" :index_task="indexTask" v-if="this.uid == task.uid" />
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    `;
  }
  if (typeof templateHistoryBlock === 'undefined') {
    var templateHistoryBlock = `
      <button type="button" class="btn" :class="{'bi bi-clock-history': !bsPopover, 'bi-x-circle': bsPopover}" ref="btnToggle" role="button" @click="showPopupHistory($event)" data-bs-toggle="popover" data-bs-trigger="focus"></button>
      <div class="popup-history" v-if="showHistory" ref="history">
        <a class="btn-close position-absolute" role="button" aria-label="Close" @click="close" ref="btnClose"></a>
        <div class="row mb-1">
          {% verbatim %}
          <span class="col-auto" id="txt_project">${_titleTxt}</span>
          {% endverbatim %}
          <div class="col-auto">
            <input type="text" class="form-control form-control-sm" list="work-time-project" id="block_project" v-model="txt_project" title="${Drupal.t('Do not remove (x)')}"/>
          </div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="${_placeholderTxt}" class="form-control" title="${_titleTxt}" v-model="label" />
          <button @click="play($event)" type="button" class="btn btn-outline-success" title="${Drupal.t('Play')}">
            <i class="bi bi-save-fill"></i>
          </button>
        </div>
        {% verbatim %}
        <div class="my-2 d-flex justify-content-between"><span class="fw-normal">{{caption}}</span><span class="fw-normal">{{ currentTotal }}</span></div>
        {% endverbatim %}
        <div class="content-popover-worktime-block">
          <table class="table table-striped table-hover caption-top mt-0 wt-table">
            <thead class="position-sticky top-0">
            <tr>
              <th>{{'Date'|t}}</th>
              <th>{{'Time'|t}}</th>
              <th>{{'Label'|t}}</th>
              <th>{{'Project'|t}}</th>
              <th></th>
            </tr>
            </thead>
            {% verbatim %}
            <tbody>
            <tr v-if="taskPlaying">
              <td class="text-danger">{{ displayDate(taskPlaying.created) }}</td>
              <td class="text-danger">{{ timeUpPlaying }}</td>
              <td class="text-danger">{{ taskPlaying.label }}</td>
              <td class="text-danger">{{ taskPlaying.project }}</td>
              <td class="wc-25 text-warning text-center">
                <button class="btn btn-outline-danger" :class="{'bi bi-stop-circle': !taskPlaying.time_total }" @click="stop($event)"></button>
              </td>
            </tr>
            <tr v-for="(task, indexTask) in historyData" :key="task.id" class="position-relative">
              <td>{{ displayDate(task.created) }}</td>
              <td>{{ displayTimeTotal(task.time_total) }}</td>
              <td>{{ task.label }}</td>
              <td>{{ task.project }}</td>
              <td class="wc-25 text-center">
                <edit @saveEditTask="saveTask" :task="task" :index_task="indexTask" v-if="this.uid == task.uid && task.time_total" />
                <delete @removeTask="removeTask" :task="task" :index_task="indexTask" v-if="this.uid == task.uid && task.time_total" />
              </td>
            </tr>
            </tbody>
            {% endverbatim %}
          </table>
        </div>
        <datalist id="work-time-project">
          <option v-for="project in projects" :data-value="project.nid" :value="project.title+' ('+project.nid+')'">
        </datalist>
      </div>
    `;
  }

var templateEditInline = `
<button type="button" @click="toggle_show_edit()" class="btn btn-light"><i class="bi bi-pencil-square"></i></button>
<div class="box-confirm confirm-delete hc-100" :class="{'confirm-active': showEdit}">
  <div class="table-cell p-2 wc-25">
    <input type="number" class="form-control form-control-sm" min="1" :max="maxTotal" id="edit-total" @input="calEnd" v-model="total">
  </div>
  <div class="table-cell p-2 wc-25">
    <input type="time" class="form-control form-control-sm" id="edit-start" @input="calTotal" v-model="startTime">
  </div>
  <div class="table-cell p-2 wc-25">
    <input type="time" class="form-control form-control-sm" id="edit-end" @input="calTotal" v-model="endTime">
  </div>
  <div class="table-cell p-2 wc-25">
    <button class="btn btn-success bi bi-check-square" @click="edit()"></button>
    <button class="btn btn-danger bi bi-x-square" @click="toggle_show_edit()"></button>
  </div>
</div>
`;
var templateEdit = `
<button type="button" @click="modal.show()" class="btn btn-light"><i class="bi bi-pencil-square"></i></button>
<div class="modal fade" ref="editTask" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label for="edit-title">{{'Title'|t}}</label>
          <input type="text" class="form-control form-control-sm" id="edit-title" v-model="label">
        </div>
        <div class="form-group d-none">
          <label for="date">{{'Date'|t}}</label>
          <input type="date" class="form-control form-control-sm" id="date" v-model="date">
        </div>
        <div class="form-group">
          <label for="edit-start">{{'Time Start'|t}}</label>
          <input type="time" class="form-control form-control-sm" id="edit-start" @input="calTotal" v-model="startTime">
        </div>
        <div class="form-group">
          <label for="edit-end">{{'Time end'|t}}</label>
          <input type="time" class="form-control form-control-sm" id="edit-end" @input="calTotal" v-model="endTime">
        </div>
        <div class="form-group">
          <label for="edit-total">{{'Total minutes'|t}}</label>
          <div class="input-group">
            <input type="number" class="form-control form-control-sm" min="1" :max="maxTotal" id="edit-total" @input="calEnd" v-model="total">
            <span class="input-group-text">m</span>
          </div>
        </div>
        <div class="form-group">
          <label for="edit-project">{{'Project'|t}}</label>
          <input type="text" class="form-control form-control-sm" id="edit-project" v-model="project" list="work-time-project">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i> {{'Cancel'|t}}</button>
        <button type="button" class="btn btn-success" @click="saveTask"><i class="bi bi-save"></i> {{'Save'|t}}</button>
      </div>
    </div>
  </div>
</div>`;
var templateRemove = `
<button type="button" @click="toggle_show_remove()" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
<div class="box-confirm confirm-delete hc-100" :class="{'confirm-active': showRemove}">
  <div class="table-cell p-2 wc-75">{{'This operation cannot be undone?'|t}}</div>
  <div class="table-cell p-2 wc-25">
    <button class="btn btn-success bi bi-check-square" @click="remove()"></button>
    <button class="btn btn-danger bi bi-x-square" @click="toggle_show_remove()"></button>
  </div>
</div>
`;
</script>
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
