<div class="input-group mb-3 w-auto {{ wrapper_class }}">
  <span class="input-group-text">{{ 'Filter'|t }}</span>
  <input type="{{ filter_mode }}" data-filter-mode="{{ filter_mode }}" class="form-control work-time-filter" value="{{ filter_value }}">
</div>
