
<div class="w-auto {{ wrapper_class }}">
  <div class="input-group mb-3">
    <span class="input-group-text">{{ 'Search'|t }}</span>
    <input type="search" data-view-id="{{ view_id }}" data-display-id="{{ display_id }}" class="form-control work-time-search-report" placeholder="{{ placeholder }}">
  </div>
</div>
