<div id="{{ entity_type }}-{{ entity_id }}" class="btn-work-time">
  <div class="btn-group" role="group">
    <button
      type="button"
      class="play-stop-btn btn btn-sm"
      data-toggle="tooltip" data-placement="top"
      data-entity-id="{{ entity_id }}"
      data-entity-type="{{ entity_type }}"
      data-entity-field="{{ entity_field }}"
      data-reference-id="{{ reference_id }}"
      data-reference-type="{{ reference_type }}"
      data-reference-field="{{ reference_field }}"
      @click="togglePlay"
      ref="button"
      :class="{'btn-danger': isPlaying, 'btn-success': !isPlaying}"
      :title="isPlaying ? 'Stop' : 'Play'">
      <i class="bi" :class="{'bi-stop-circle': isPlaying, 'bi-play-circle': !isPlaying }"></i>
      <time class="timer px-1" data-time="{{ time }}" data-beginning="{{ beginning }}">
        {% verbatim %}{{ formatTime }}{% endverbatim %}
      </time>
    </button>
    <history :uid="uid" :entity="entity" :history_data="historyData"></history>
  </div>
</div>
